<!-- navigation section -->
<section id="navigation">
    <app-navigation></app-navigation>
</section>

<!-- about us hero section -->
<section id="aboutUs">
    <div class="container">
            <div class="img">
            </div>
            <div class="title-context">
                <p>MISSION | <span class="high-light">VISION</span> </p>
            </div>
    
        <div class="context">
            <div class="top">
                <p>To Manage, Develop and Provide a Cost - Effective Knowledge/Business <br> process outsourcing services to our local and global clients.</p>
                <p>We seek to be one of the leading global providers of Customer Service, <br> Technical Support, Back-Office & Account Management by offering <br> cost-effective solutions with reliable technology and people.</p>
            </div>
        </div>
        <div class="our-culture">
            <div class="title">
                <p>OUR CULTURE</p>
            </div>
            <div class="container-btm">
                <div class="img-left">
                    <img src="../../../assets/images/culture-img.png" alt="" srcset="">
                </div>
                <div class="content-right">
                    <p class="high-light">WORK-LIFE BALANCE</p>
                    <p>Red D, understands that a healthy life outside work is the key to outstanding performance and productivity.  We promote a real work-life balance by ensuring each individual spends sufficient amounts of time and energy between work, family, and friends. Our happy employees represent the best formula for our success.</p>
                    <p class="high-light">REWARDS & RECOGNITION</p>
                    <p>We see to it that individual effort and team contributions are not just recognized but also given proper credit. We strengthen our camaraderie with our motivational team events and leadership and mentor training. Increasing employees morale builds a fun and exciting work environment</p>
                </div>
            </div>
            <div class="container-btm-btm">
                <p class="high-light">CORPORATE INTEGRITY</p>
                <p>Our commitment to our customers, employees and society is to act with integrity at all times. This serves us our guide to everything we do, especially on how we serve our clients and the way we help them expand better businesses.
                    Here at Red D, we maintain the highest ethical standards. We guarantee that all our company employees follow not only those policies set forth by our partners, but also Red D, closely impose our Code of Ethics.</p>
                <p class="high-light">SERVICE DELIVERY EXCELLENCE</p>
                <p>The focal point of our diverse team of experts are: Creating and managing projects effectively. Here at RED D, our approach is built around raising to an impressive level our business understanding to ensure excellent service delivery.
                    We are helping our partners understand how to assemble the right team by setting the proper skill sets and making the necessary organizational adjustment as a cornerstone towards program and operation success.</p>
            
            </div>

           <!-- Global Button for Contact us now -->
            <section id="btn-contact-us">
                <div class="container">
                    <p>CONTACT US <span class="high-light">NOW</span></p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Footer global section -->
<section id="Footer-container">
    <app-footer></app-footer>
</section>