<div class="Footer-container">

   
    <div class="container">
        <div class="footer-img">
            <img src="../../../assets/images/footer-img.png" alt="" srcset="">
        </div>
        <div class="context">
            <div class="title">
                <p> <span class="high-light">Red Define</span> Business <br> Outsourcing Solution</p>
            </div>
            
                <div class="social-links">
                    <p>Follow Us:</p>
                    <img class="icon" src="../../../assets/images/fb.png" alt="" srcset="">
                    <img class="icon" src="../../../assets/images/ig.png" alt="" srcset="">
                    <img class="icon" src="../../../assets/images/li.png" alt="" srcset="">
                </div>
                <div class="credits">
                    <p>RedDefine © 2023-2024 All Rights Reserved.</p> 
            </div> 
        </div>
    </div>
</div>