<!-- navigation section -->
<section id="navigation">
   <app-navigation></app-navigation>
</section>

<!-- dashboard section -->
 <section id="dashboard">
    <div class="hero-container">
        <div class="context-container">
            <div class="title">
                <p>Let's <span class="high-light">Red Define</span> <br>
                    the way you see Outsourcing  <br>
                    and Scaling</p>
            </div>
            <div class="btn-1">
                <p> <span class="high-light">Free</span> Consultation</p>
            </div>
        </div>

    </div>
 </section>

<!-- dashboard content section -->
 <section id="context-container">
    <h1>Red Define </h1>
    <p>Is a startup outsourcing solution in the Philippines built to provide offshore staffing solutions, such as Customer Service, Technical Support, and Back Office positions. Here at Red Define, we focus on the growth of ourselves and our clients in the Business Processing Outsourcing industry. Each of our clients has specific needs and desired goals that influence the way business should be done. Because of this, we see to it that we work closely with our client beforehand until the completion of each solution so you can get the best service possible.</p>
    <p>We are located in one of the top business districts in Manila and also operate in selected provinces in the Philippines. We deliver outsourcing that is designed for small to large-sized teams, in short, optimal solutions. Our bespoke outsourcing services offer top talents at a comfortable price point so companies can get more work done. Having a core team with decades of combined BPO experience in both the Philippine talent market and Western business practices, we've become a seamless extension of many dynamic organizations. Ready to deliver support to your growing business.</p>
    <p>Our organization provides experienced leadership and staff to ensure steady growth in helping our business partners maximize their full potential. We hired people who are goal-oriented and fully motivated to deliver results. Our team leaders and managers undergo weekly, monthly, and quarterly coaching and performance review to ensure they do not just meet the expectations but exceeds them.</p>
</section>


<!-- Showcase container -->
<section id="Showcase-container">
    <div class="customer-service contain">
        <img src="../../../assets/images/image 4.png" alt="">
        <p>Customer Service</p>
    </div>
    <div class="Technical-support contain" >
        <img src="../../../assets/images/image 5.png" alt="">
        <p>Technical Support</p>
    </div>
    <div class="Data-Entry-Processing contain">
        <img src="../../../assets/images/image 6.png" alt="">
        <p>Data Entry & Processing</p>
    </div>
</section>

<!-- Testemonials container -->
<section id="Testemonials-container"> 
    <div class="title">
        <p>What customers say about Red Define</p>
    </div>
    <!-- loop testimonial -->
     <div class="content">
        <div class="testimonial-1">
            <p>Getting supervisor call is not easy. But with Emmie, you could tell the quality of work nd heart she puts in to resolve the customer concern. Sending tis kudos to her and her team.</p>
            <span>- Miki Geisler <br> (Learning and Development Head)</span>
        </div>
        <div class="testimonial-1">
            <p>Turning every difficult call into a "commendation" is not just luck but requires passion and patience. Wish we could duplicate Ellie, thank you Red Define for giving us an amazing specialist.</p>
            <span>-  Jason Cole <br> (Brand Manager)</span>
        </div>
        <div class="testimonial-1">
            <p>Shoutout to Chris and Joe for thinking outside the box. Being resourceful is something that these Red Define folks stand out!</p>
            <span>- Tyler Barlow <br>(Special Projects Supervisor)</span>
        </div>
     </div>
     <!-- loop testimonial -->
</section>

<!-- Global Button for Contact us now -->
 <section id="btn-contact-us">
    <div class="container">
        <p>CONTACT US <span class="high-light">NOW</span></p>
    </div>
 </section>

 <!-- Footer global section -->
  <section id="Footer-container">
    <app-footer></app-footer>
  </section>