<!-- navigation section -->
<section id="navigation">
    <app-navigation></app-navigation>
 </section>

<!-- contact us form section -->
<section id="contact-us">
    <div class="container">
        <div class="left-img">
            <img src="../../../assets/images/left-img-hero.png" alt="" srcset="">
        </div>
        <div class="right-context">
            <div class="get-in-touch">
                <p class="title">GET IN <span class="high-light">TOUCH</span> </p>
                <p>No Deal Too Small - Many larger BPO providers require a minimum number of 15 FTE or more doing homogenous work to get their attention. However, no deal is too small for Red Define BPO. If you want to start small with a heterogeneous group of functions, no problem. We embrace the “staff augmentation” model and can find strong talent for our clients to remotely manage in just about any type of role. You don’t have to be a large company to work with us.</p>
            </div>
            <div class="form">
                <form class="form" >
                    <div class="contained">
                        <label for="fname">FULL NAME  <span class="high-light">*</span></label>
                        <input type="text" name="fname" id="fname">
                    </div>
                    <div class="contained">
                        <label for="email">EMAIL ADDRESS <span class="high-light">*</span></label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="contained">
                        <label for="mnumber">YOUR MOBILE NUMBER <span class="high-light">*</span></label>
                        <input type="number" name="mnumber" id="mnumber">
                    </div>
                    <div class="contained">
                        <label for="msg">COMMENT OR MESSAGE</label>
                        <textarea rows="4" cols="50" name="msg" id="msg" ></textarea>
                    </div>
                    <div class="btn-submit" >
                        <p name="submit"> SUBMIT </p>
                     </div>
                </form>
                
            </div>
        </div>
    </div>
</section>

<!-- contact information -->
 <section id="cnct-info">
    <div class="contact">
        <p class="high-light">EMAIL US</p>
        <p>info@red-define.com</p>
    </div>
    <div class="contact">
        <p class="high-light">DROP IN</p>
        <p>111 Paseo Bldg. Paseo de Roxas Makati City 1229</p>
    </div>
    <div class="contact">
        <p class="high-light">CALL US</p>
        <p>+63 960 382 5400</p>
    </div>
 </section>


  <!-- Footer global section -->
  <section id="Footer-container">
    <app-footer></app-footer>
  </section>