<!-- navigation section -->
<section id="navigation">
    <app-navigation></app-navigation>
</section>

<!-- servicing section -->
<section id="service-body">
    <div class="container">
        <div class="title">
            <p>Your <span class="high-light">Elite</span>  Offshore Team, <br>
                Tailored to <span class="high-light">Perfection</span> </p>
        </div>
        <div class="subtle">
            <p>Having an offshore team with R&D <br>
                capabilities allows you to reach more clients <br>
                and enhance global brand awareness.</p>
        </div>
        <div class="buttons">
            <div class="btn-1">
                <p> <span class="high-light">Free</span> Consultation</p>
            </div>
            <div class="btn-1">
                <p> <span class="high-light">CONTACT</span> US NOW</p>
            </div>
        </div>
        
    </div>
</section>

<!-- service offered -->
<section id="service-offered">
   
    <div class="container">
        <div class="hero-left">
            <img src="../../../assets/images/left-hero.png" alt="" srcset="">
        </div>
       
        <div class="context">
            <div class="title">
                <p>SERVICES OFFERED</p>
            </div>
            <div class="cs-c">
                <p class="cs-t">Customer Service</p>
                <p>Strengthen your customer service efforts and increase your coverage. Red Define BPO provides well-trained contact center professionals with 24/7 operational capacity to meet your needs. Never worry about missing out on customer calls that can lead to revenue loss.</p>
            </div>
            <div class="cs-c">
                <p class="cs-t">Virtual Assistant</p>
                <p>Virtual Assistance & Back Office work is often extensive and time-consuming. With Red Define’s flexibility in taking over a comprehensive range of remote admin tasks, you can expect excellence and cost-efficiency rolled into one. Our VA/BO cover basically every administrative task under the sun.</p>    
            </div>
            <div class="cs-c">
                <p class="cs-t">Tech Support</p>
                <p>The technology industry had an explosive growth and we don’t see it slowing down anytime soon. Naturally, demand for technical support has taken an upturn. Red Define BPO provides reliable Tier 1 and 2 support to address a broad range of customer issues. We understand handling your customers with urgency and effectiveness through our first call resolution is a make-or-break difference in customer retention.</p>
            </div>
            <div class="cs-c">
                <p class="cs-t">Data Entry</p>
                <p>RD also has extensive experience on data-related services, you’re guaranteed to get things done not just faster but with accuracy.</p>
            </div>

        </div>
    </div>
</section>

<!-- showcase section -->
<section id="showcase-section">
    <div class="contained">
        <div class="container">
            <p> How <span class="high-light">Red Define</span> 
            <br> BPO work?</p>
        </div>
    </div>
    <div class="context">
        <p>Red Define provides your very own team. You provide us with the Job Description; we recruit top-notch professionals that fit your needs. With our offshore staffing, you have full visibility and control, without having to worry about facilities, operations, and regulations.</p>
        <p class="high-light">How will  Red Define Benefit my team?</p>
        <p>Having an offshore team with RD enables you to reach more potential clients. You can raise more awareness about your business, and at the same time, establish your company as a global brand. As you set up teams in different parts of the world, you create a workforce that is ready for 24/7 operations. This allows you to provide better support to your clients and customers whenever they need it</p>
        <p class="high-light">How do I ensure that Red Define will provide employees <br>
         that possess the skills and attitude needed for the job?</p>
        <p>Our highly experienced and expert offshore recruitment team uses a great combination of established recruitment processes that not just measure applicants' aptitude and qualifications based on the job description you provided. Our recruitment team uses recruitment tools, including video interviews and selective skills-based testing. This allows us to effectively screen the employees we are hiring and evaluate if it matches the client's requirements. We also encourage our clients to be involved in the interview and selection processes to ensure that all employees hired are a great fit for any given position. Our recruitment process also includes meticulous background checks.</p>
    </div>
</section>



<!-- Footer global section -->
  <section id="Footer-container">
    <app-footer></app-footer>
  </section>