/* You can add global styles to this file, and also import other style files */
*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    /* border: 1px solid red; */
    /* padding:  0  8.6em 0 8.6em  ; */
} 
