<div class="container">
    <div class="logo-container">
        <img src="../../../assets/images/LOGO.png" alt="">
    </div>
    <div class="navigation-container">
        <ul>
            <li> <a routerLink="/home"><span class="high-light"> Home </span></a></li>
            <li> <a routerLink="/servicing">Servicing</a></li>
            <li> <a routerLink="/about">About Us</a></li>
            <li> <a routerLink="/contact">Contact</a></li>
            
            
        </ul>
    </div>
</div>
